.home-page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes fadeToDefault {
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

.home-page-row {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40%;
}

.home-page-row .employee {
    width: 20%;
    height: 15%;
    margin: 2px;
    display: inline-table;
}

.home-page-row label {
    border: solid white 1px;
    border-radius: 5px;
    display: block;
    padding: 5px;
    text-align: center;
    color: black;
    background-color: rgba(160, 221, 117, 0.6);
    cursor: pointer;
}

.employee-contents {
    overflow: hidden;
}

.employee-contents .employee-wipe {
    position: relative;
    top: -250px;
}

.home-page-row label.lavi {
}

.home-page-row label.russell {
    /*background: linear-gradient(to bottom, #8cd89d, #a6ffb8);*/
}

.home-page-row label.dillon {
    /*background: linear-gradient(to bottom, #9bc5e5, #addfff);*/
}

.home-page-row .employee .employee-wipe {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    top: -250px;
}

.home-page-row .employee:hover .employee-wipe {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
    top: 0;
}

.home-page-row a {
    font-family: "Raleway Thin", sans-serif;
    color: black;
}

.home-page-row a:hover {

}

.employee-title {
    font-family: "Caviar Dreams", sans-serif;
}

img.face {
    width: 90%;
}

#bg {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

canvas{
    position: absolute;
    z-index: -1;
}