.home-page-container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.home-page {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home-page-row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}

.home-page-row .employee {
    border: solid black 1px;
    width: 300px;
    display: inline-table;
}

.home-page-row label {
    display: block;
    padding: 5px;
    border-bottom: solid black 1px;
    text-align: center;
}

.home-page-row label.lavi {
    background: linear-gradient(to bottom, #a0dd75, #b7ff89);
}

.home-page-row label.russell {
    background: linear-gradient(to bottom, #8cd89d, #a6ffb8);
}

.home-page-row label.dillon {
    background: linear-gradient(to bottom, #9bc5e5, #addfff);
}

.home-page-row a {
    color: black;
}

.home-page-row a:hover {
    text-shadow: 1px 1px #979797;
}