<div>
    <header>Please Choose Your Future Employee:</header>

    <div class="home-page indented">
        <a href="#!/lavi">
            <div class="employee">
                <label class="lavi">Lavi Johnson:</label>
                <img src="../img/bunny.jpg" width="300" height="175" />
            </div>
        </a>

        <a href="#!/russell">
            <div class="employee">
                <label class="russell">Russell Templet:</label>
                <img src="../img/meow.jpeg" width="300" height="175" />
            </div>
        </a>
        <a href="#!/dillon">
            <div class="employee">
                <label class="dillon">Dillon Cordova:</label>
                <img src="../img/chick.jpeg" width="300" height="175" />
            </div>
        </a>
    </div>
</div>