<div class="home-page" id="bg">
    <div class="home-page-row">
        <div class="employee" ng-repeat="employee in homeCtrl.employees"
             ng-mouseenter="homeCtrl.handleEmployeeEnter(employee.id)" ng-mouseleave="homeCtrl.handleEmployeeLeave(employee.id)">
            <a ng-href="#!/{{ employee.id }}">
                <label ng-class="employee.id">{{ employee.name }}</label>
            </a>
            <div class="employee-contents">
                <div class="employee-wipe">
                    <img ng-src="../svg/{{ employee.id }}.svg" class="face" />
                    <div class="employee-title">&quot;{{ employee.quote }}&quot;</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- animations -->
<bubble-animation
        ng-repeat="i in homeCtrl.getNumber(10) track by $index"
        bubbleid="'bubble' + $index">
</bubble-animation>

<emerald-animation
        ng-repeat="j in homeCtrl.getNumber(2) track by $index">
</emerald-animation>

<goo-animation
        ng-repeat="k in homeCtrl.getNumber(1) track by $index"
        gooid="'goo' + $index">
</goo-animation>

<loading-animation></loading-animation>
