$transparentBlue: rgba(67, 182, 228, 0.5);
$transparentGreen: rgba(17, 247, 82, 0.52);
$transparentPurple: rgba(178, 77, 255, 0.5);
$transparent: rgba(0, 0, 0, 0);
$labelBackgroundGreen: rgba(160, 221, 117, 0.6);

$labelBorder: solid white 1px;

$railway: "Railway Thin", sans-serif;
$caviarDreams: "Caviar Dreams", sans-serif;