.goo {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

.gooFrame2, .gooFrame3, .gooFrame4, .gooFrame5, .gooFrame6 {
    visibility: hidden;
}

@keyframes gooFloatRight {
    to {
        left: 120%;
    }
}

@keyframes gooFloatLeft {
    to {
        left: -20%;
    }
}

@keyframes fadeToPurple {
    to {
        background-color: rgba(178, 77, 255, 0.5);
    }
}